aiohttp==3.8.1
async-timeout==4.0.2
attrs==21.4.0
cffi==1.15.0
chardet==4.0.0
cryptography==36.0.1
garages-amsterdam==3.2.1
idna==3.3
multidict==6.0.1
pycparser==2.21
PyMySQL==1.0.2
python-dotenv==0.19.2
typing-extensions==4.0.1
yarl==1.7.2
